//- don't put icons.
//- SVG issues when adding them with Vanilla JS
//- see utils.js
.js-carrousel-control.carrousel-control
  span.js-prev
  span.js-next

  ul.js-carrousel-progress.carrousel-progress
    - var current = 0;
    while current < max
      - current++;
      li
