extends _layout.jade

block content
  #carrousel
    h1
      | #{__('home.baseline.1')}
      strong= __('home.baseline.2')
    ul.carrousel
      li: picture
        source(media="(min-width: 1024px)" srcset="/image/1400x600")
        source(media="(min-width: 640px)" srcset="/image/920x500")
        img(src="/image/580x580")
      li: picture
        source(media="(min-width: 1024px)" srcset="/image/1400x600")
        source(media="(min-width: 640px)" srcset="/image/920x500")
        img(src="/image/580x580")
      li: picture
        source(media="(min-width: 1024px)" srcset="/image/1400x600")
        source(media="(min-width: 640px)" srcset="/image/920x500")
        img(src="/image/580x580")

  .expertise
    h2= __('home.expertise.title')
    - var drawings = ['residential-commercial', 'interior', 'swimming-pool', 'hammer']
    each val in [1, 2, 3, 4]
      dl
        dt
          p= __('home.expertise.' + val)
          +svg-image(drawings[val - 1])
        dd: picture
          source(media="(min-width: 640px) and (max-width: 1023px)" srcset="/image/475x300")
          img(src="/image/675x370")
      //- dd: img(
      //-   src="/image/675x370",
      //-   srcset="/image/475x260 475w, /image/675x370 675w",
      //-   sizes="(min-width: 1072px) 675px, (min-width: 1024px) calc(66vw - 36px), (min-width: 640px) calc(50vw - 36px), 100vw")
