extends _layout.jade

block content
  #carrousel
    h1
      | #{__('home.baseline.1')}
      strong= __('home.baseline.2')
    .carrousel.js-carrousel(data-carrousel="home"): ul.in
      - var base = 'home/carrousel';
      each val in [1, 2, 3, 4, 5]
        li: .image-wrapper: picture
          //- source(media="(min-width: 1024px)" data-srcset="/image/1400x600 1x, /image/2800x1200 2x")
          //- source(media="(min-width: 640px)" data-srcset="/image/920x500 1x, /image/1840x1000 2x")
          //- img.lazyload(src="/image/580x580", data-srcset="/image/580x580 1x, /image/1160x1160 2x")
          +image-source()
            +source({
              media: '(min-width: 1024px)',
              base: base,
              src: 'carrousel-' + val + '-big'
            })
            +source({
              media: '(min-width: 500px)',
              base: base,
              src: 'carrousel-' + val + '-medium'
            })
          +image({
            base: base,
            src: "carrousel-" + val + "-medium",
            srcset: "carrousel-" + val + "-small"
          })

  .expertise
    h2= __('home.expertise.title')
    - var drawings = ['residential-commercial', 'interior', 'swimming-pool', 'hammer']
    - var base = 'home/expertise';
    each val in [1, 2, 3, 4]
      dl
        dt
          p= __('home.expertise.' + val)
          +svg-image(drawings[val - 1])
        dd: .image-wrapper: picture
          //- source(media="(min-width: 640px) and (max-width: 1023px)" srcset="/image/475x300 1x, /image/950x600 2x")
          //- img(src="/image/675x370", srcset="/image/675x370 1x, /image/1350x740 1x")
          +image-source()
            +source({
              media: '(min-width: 640px) and (max-width: 1023px)',
              base: base,
              src: 'expertise-' + val + '-small'
            })
          +image({
            base: base,
            src: "expertise-" + val + "-medium",
          })
