extends _layout.jade

block content
  each step in ['planning', 'construction', 'completion', 'interior']
    dl
      dt= __('process.' + step + '.title')
      dd= __('process.' + step + '.description')
      dd: ul.carrousel
        each image in [1, 2, 3, 4]
          li: picture
            source(media="(min-width: 1024px)" srcset="/image/920x420 1x, /image/1840x840 2x")
            source(media="(min-width: 640px)" srcset="/image/880x420 1x, /image/1760x840 2x")
            img(src="/image/580x400", srcset="/image/580x400 1x, /image/1160x800 2x")
