extends _layout.jade

block content
  h1.page-title= __('menu.process')
  each step, index in steps
    dl.process-step
      dt= __('process.' + step + '.title')
      dd= __('process.' + step + '.description')
      dd: .carrousel(data-carrousel="process"): ul.in
        - var image = 0;
        - var base = 'process/' + step;
        while image < imageCount[index]
          - image++;
          li: .image-wrapper: picture
            //- source(media="(min-width: 1024px)" srcset="/image/920x420 1x, /image/1840x840 2x")
            //- source(media="(min-width: 640px)" srcset="/image/880x420 1x, /image/1760x840 2x")
            //- img(src="/image/580x400", srcset="/image/580x400 1x, /image/1160x800 2x")
            //- +ie()
            +image-source()
              +source({
                media: '(min-width: 1024px)',
                base: base,
                src: step + '-' + image + '-big'
              })
              +source({
                media: '(min-width: 640px)',
                base: base,
                src: step + '-' + image + '-medium'
              })
            +image({
              base: base,
              src: step + '-' + image + '-medium',
              srcset: step + '-' + image + '-small'
            })
