extends _layout.jade

block content
  h1 projects
  ul
    for project in projects
      li: dl
        dt: a(href="/project/" + project)= __('projects.' + project + '.title')
        dt: img(src="/image/600x400")


