extends _layout.jade

block content
  h1.page-title= __('menu.projects')
  .projects
    for project in projects
      dl
        dt: a(href="/project/" + project.name)= __('projects.' + project.name + '.title')
        dd: a.image-wrapper(href="/project/" + project.name)
          - var base = 'project/' + project.name;
          picture
            //- source(media="(max-width: 640px)" srcset="/image/600x450 1x, /image/1200x900 2x")
            //- img(src="/image/600x350", srcset="/image/600x350 1x, /image/1200x700 2x")
            +image-source()
              +source({
                media: '(max-width: 640px)',
                base: base,
                src: project.name + '-cover-medium'
              })
            +image({
              base: base,
              src: project.name + '-cover-small'
            })
