extends _layout.jade

block content
  .projects
    for project in projects
      dl
        dt: a(href="/project/" + project)= __('projects.' + project + '.title')
        dd: a(href="/project/" + project): img(src="/image/600x350")
