mixin icon(name)
  svg(class=`icon icon-${name}` role="img")
    use(xlink:href=`/svg-symbols.svg#icon-${name}`)

mixin svg-image(name)
  svg(class=`svg svg-${name}` role="img")
    use(xlink:href=`/svg-images.svg#svg-${name}`)
