//- http://webdesignerwall.com/tutorials/css-specific-for-internet-explorer
mixin ie(condition)
  - condition = condition ? condition : 'lt IE 9';
  | <!--[if lt IE 9]>
  block
  | <![endif]-->
  | <!--[if IE 9]>
  block
  | <![endif]-->

mixin notie()
  | <!--[if (gt IE 9)|!(IE)]><!-->
  block
  | <!--<![endif]-->
