body::before {
  // content: '';
  display: block;
  border-left: 1px solid red;
  border-right: @border-left;
  position: fixed;
  left: 50%;
  height: 100vh;
  transform: translateX(-50%);
  z-index: $zindex--debug;
  container();
}

.demo-grid {
  width: 100%;
  container();
  position: fixed;
  z-index: $zindex--debug - 1;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translateX(-50%);
  pointer-events: none;
  display: none;

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul {
    row();
  }

  li {
    cell(1, 1, 0px);
    height: 100vh;
    background: rgba(cyan, .3);
    padding: 0 ($gutter / 2);
    background-clip: content-box;
    outline: 1px solid rgba(cyan, .7);

    +mq('>=M') {
      cell(1, 2, 0px);
    }

    +mq('>=L') {
      cell(1, 3, 0px);
    }

    &:nth-child(2) {
      display: none;

      +mq('>=M') {
        display: block;
        outline: 0;
      }
    }

    &:nth-child(3) {
      display: none;

      +mq('>=L') {
        display: block;
      }
    }
  }
}
