hidden-accessible() {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

flex-center-align() {
  display: flex;
  align-items: center;
  justify-content: center;
}

//////
// MEDIA QUERIES
//////

// $small-range      = 0, px2em(639);
// $medium-range     = px2em(640), px2em(1023);
// $large-range      = px2em(1024);

$extra-small-range  = 0, 499px;
$small-range        = 500px, 639px;
$medium-range       = 640px, 1023px;
$large-range        = 1024px;

$max-width        = $large-range;

mq($$size) {
  if ($$size == "==XS") {
    @media only screen and (max-width: $extra-small-range[1]) {
      {block}
    }
  } else if ($$size == ">=S" ) {
    @media only screen and (min-width: $small-range[0]) {
      {block}
    }
  } else if ($$size == "==S") {
    @media only screen and (min-width: $small-range[0]) and (max-width: $small-range[1]) {
      {block}
    }
  } else if ($$size == "<M") {
    @media only screen and (max-width: $small-range[1]) {
      {block}
    }
  } else if ($$size == ">=M" ) {
    @media only screen and (min-width: $medium-range[0]) {
      {block}
    }
  } else if ($$size == "==M") {
    @media only screen and (min-width: $medium-range[0]) and (max-width: $medium-range[1]) {
      {block}
    }
  } else if ($$size == "<L") {
    @media only screen and (max-width: $medium-range[1]) {
      {block}
    }
  } else if ($$size == ">=L") {
    @media only screen and (min-width: $large-range[0]) {
      {block}
    }
  } else {
    {block}
  }
}

//////
// TYPO
//////

font-title() {
  font-family: 'Droid Serif', cursive;
  font-weight: bold;
  letter-spacing: 2px;
}

font-text() {
  font-family: 'Roboto', serif;
  // font-weight: normal;
  // font-style: normal;
}

//////
// LAYOUT
//////

container() {
  if ($is-ie) {
    width: 1024px;
    margin: 0 auto;
  } else {
    +mq('>=M') {
      max-width: $max-width;
      width: 'calc(%s - %s)' % (100% ($gutter * 2));
    }
  }
}

//----- GRID

$default-cols             = 3;

row($$gutter = $gutter) {
  margin-left: $$gutter * -.5;
  margin-right: @margin-left;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

col($i = 1, $$cols = $default-cols){
  return ((100% / $$cols) * $i);
}

cell($i = 1, $$cols = $default-cols, $$gutter = $gutter) {
  $width = col($i, $$cols);
  flex-basis: 'calc(%s - %s)' % ($width $$gutter);
  margin-left: $half-gutter;
  margin-right: @margin-left;
  max-width: @flex-basis;
}
