//////
// COLORS
//////

$bg             = #302D2C;
// $primary        = #2A6151;
$primary        = #2A5D61;
$accent         = #F5A956;
// $accent-strong  = $orange;

//////
// SIZES
//////

$fs           = 16px;
$gutter       = $fs * 1.5;
$half-gutter  = $gutter / 2;

//////
// FONTS
//////

// https://viget.com/extend/the-font-face-dilemma
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Droid+Serif:400,700');

// @font-face {
//   font-family: 'Droid Serif';
//   font-style: normal;
//   font-weight: normal;
//   src: url('/fonts/Droid_Serif-normal-400.woff') format('woff');
// }

// @font-face {
//   font-family: 'Droid Serif';
//   font-style: normal;
//   font-weight: bold;
//   src: url('/fonts/Droid_Serif-normal-700.woff') format('woff');
// }

// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: normal;
//   src: url('/fonts/Roboto-normal-400.woff') format('woff');
// }

// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: bold;
//   src: url('/fonts/Roboto-normal-700.woff') format('woff');
// }

@keyframes spin {
  100% { transform:rotate(360deg);
  }
}
