//////
// COLORS
//////

$primary        = #088F9F;
$accent         = #9DD837;
// $accent-strong  = $orange;

//////
// SIZES
//////

$fs           = 16px;
$gutter       = $fs * 1.5;
$half-gutter  = $gutter / 2;

//////
// FONTS
//////

@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/Alfa_Slab_One-normal-400.woff') format('woff');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/Lora-normal-400.woff') format('woff');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/Lora-normal-700.woff') format('woff');
}
