// Inspired by medium
// https://medium.com/@fat/mediums-css-is-actually-pretty-fucking-good-b8e2a6c78b06

// Z-Index Scale (private vars)
// --------------------------------------------------
$zindex-1 =   100;
$zindex-2 =   200;
$zindex-3 =   300;
$zindex-4 =   400;
$zindex-5 =   500;
$zindex-6 =   600;
$zindex-7 =   700;
$zindex-8 =   800;
$zindex-9 =   900;
$zindex-10 = 1000;

// Z-Index Applications
// --------------------------------------------------

$zindex--carrousel      = $zindex-1;
$zindex--header         = $zindex-2;
$zindex--menu-mobile    = $zindex-3;
$zindex--hamburger      = $zindex-4;
$zindex--lightbox       = $zindex-5;
$zindex--debug          = $zindex-10;
