.alert {
  align-items: center;
  padding: $half-gutter;
  display: none;

  &.is-visible {
    display: flex;
  }

  span {
    flex: 1 0 auto;
  }

  .icon {
    flex: 0 0 34px;
    stroke: currentColor;

    &:first-child {
      margin-right: $half-gutter;
    }
    ~ icon {
      margin-left: auto;
    }
  }
}

.alert-success {
  background: #A5CF52;
  color: $bg;
}
.alert-error {
  background: #E13C1F;
}
.alert-process {
  background: #3096B6;
}
