.carrousel {
  position: relative;
}

.carrousel .in {
  display: flex;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &,
  li {
    padding: 0;
    list-style: none;
  }

  li {
    flex: 0 0 90%;
  }

  img {
    pointer-events: none;
  }
}

// with JS
.carrousel.is-active {
  overflow: hidden;
  .in {
    transition: all .5s;
    overflow: visible;

    &.no-transition {
      transition: none;
    }
  }
}
.js-prev,
.js-next,
.carrousel-progress {
  position: absolute;
  z-index: 2;
  display: none;

  +mq('>=M') {
    display: block;
  }
}
.js-prev,
.js-next {
  top: 50%;
  cursor: pointer;
  +mq('>=L') {
    margin-top: 50px;
  }
}
.js-prev {
  left: $gutter;
  transform: translateY(-50%);
}
.js-next {
  right: $gutter;
  transform: translateY(-50%) rotate(180deg);
}

.carrousel-progress {
  bottom: $gutter;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;

  &,
  li {
    padding: 0;
    list-style: none;
  }

  li {
    width: $half-gutter;
    height: @width;
    border-radius: @width;
    flex: 0 0 @width;
    margin: 0 ($half-gutter / 2);
    border: 2px solid white;
    transition: background .25s;

    &.is-active {
      background: white;
    }
  }
}
