.carrousel {
  display: flex;
  overflow: auto;

  &,
  li {
    padding: 0;
    list-style: none;
  }

  li {
    flex: 0 0 90%;
  }

  img {
    // https://medium.com/@primozcigler/neat-trick-for-css-object-fit-fallback-on-edge-and-other-browsers-afbc53bbb2c3#.jv8dlnfx5
    object-fit: cover;
    width: 100%;
  }
}
