.carrousel {
  display: flex;
  overflow: auto;

  &,
  li {
    padding: 0;
    list-style: none;
  }

  li {
    flex: 0 0 90%;
  }

  * {
    height: 100%;
  }

  img {
    // https://medium.com/@primozcigler/neat-trick-for-css-object-fit-fallback-on-edge-and-other-browsers-afbc53bbb2c3#.jv8dlnfx5
    object-fit: cover;
    width: 100%;
  }
  img[srcset] {
    object-fit: initial;
    width: auto !important;
    height: auto !important;
  }
  picture img {
    object-fit: initial;
    width: 100% !important;
    height: auto !important;
  }
}
