.page-contact dt,
legend {
  font-title();
  font-size: 18px;
  // text-align: center;
}

form {
  padding-bottom: $half-gutter;
}


.page-contact {
  label {
    display: block;
    padding: $gutter 0 ($half-gutter / 2);
  }
}

input,
textarea {
  width: 100%;
  background: none;
  border: 1px solid rgba(white, .5);
  padding: ($half-gutter / 2);
  outline: 0;

  &:focus {
    border-color: $accent;
  }
}

button {
  background: $primary;
  border: 0;
  padding: $half-gutter $gutter;
  margin-top: $half-gutter;
  cursor: pointer;
  outline: 0;

  &:hover {
    background: lighten($primary, 10%);
  }
  &:active {
    background: darken($primary, 40%);
  }
}

.page-contact {
  dd {
    padding: $half-gutter 0;
  }
  main a {
    color: $accent;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.contact,
.address {
  margin-top: $gutter;

  +mq('>=M') {
    row();
    > * {
      cell(1, 2);
    }
  }


  +mq('>=L') {
    > :first-child {
      cell(1);
    }
    > :last-child {
      cell(2);
    }
  }
}
