.page-contact dt,
legend {
  font-title();
  font-size: 18px;
}

.page-contact main {
  +mq('<M') {
    width: 100%;
    padding: 0 $gutter;
  }
}

.page-contact {
  dd {
    padding: $half-gutter 0;
  }
  main a {
    color: $accent;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.contact,
.address {
  margin-top: $gutter;

  +mq('>=S') {
    row();
    > * {
      cell(1, 2);
    }
  }

  +mq('>=L') {
    > :first-child {
      cell(1);
    }
    > :last-child {
      cell(2);
    }
  }
}

.map {
  height: 350px;
  color: black;
}
