$is-ie = true;

@import './_variables'
@import './_mixins'
@import './_z-index'
@import './_debug'
//////
// GENERAL
//////
@import './global'
@import './svg-symbols.css'
@import './svg-images.css'
@import './icons'

body {
  display: block;
}
ul,
li {
  list-style: none;
  padding: 0;
}
img {
  border: 0;
}

svg img {
  width: auto !important;
  height: auto !important;
}


//////
// MODULES
//////

@import './form'
@import './alert'

footer .in,
.main-header {
  container();
}
//----- HEADER
.main-header {
  input,
  label {
    display: none;
  }
  margin-top: $gutter;
  margin-bottom: @margin-top;
  height: 80px;

  .logo {
    float: left;
  }
  nav {
    height: 100%;
    float: right;
    background: $primary;
    width: col(2);
    text-align: right;

    a {
      display: inline-block;
      color: white;
      padding: 40px 10px 0;

      &.is-selected {
        color: $accent;
      }
    }
  }
}
//----- FOOTER
footer {
  clear: both;
  padding: $gutter 0 ;
  background: rgba(black, .4);

  a {
    color: white;
  }
}

.footer {
  > * {
    float: left;
    width: col(1);
  }
}
.footer-contact {
  dt,
  dd {
    float: left;
  }
  dt {
    clear: left;
    width: 50px;
  }
  span {
    display: block;
  }
}
.copyright {
  text-align: center;
  clear: both;
  margin: 0;

}
//----- CARROUSEL
.carrousel {
  .in {
    overflow: auto;
    white-space: nowrap;
  }
  li {
    width: 90%;
    display: inline-block;
  }
}

//////
// PAGES
//////

@import './faq'

//----- HOME
.expertise {
  dl {
    overflow: hidden;
    margin-bottom: $gutter;
    background:  $primary;
  }

  img {
    width: 100%;
  }

  dt {
    float: left;
    width: col(1);
    text-align: center;
    font-size: 20px;
  }
  p {
    padding-top: 5em;
  }
  dd {
    float: right;
    width: col(2);
  }
}

//----- PROCESS
.process-step {
  dt {
    font-title();
    text-align: center;
    font-size: 24px;
    padding: $gutter $half-gutter $half-gutter;
    color: $accent;
  }
  dt + dd {
    width: 800px
    margin: 0 auto;
    padding: $half-gutter 0;
  }
}

//----- CONTACT
.contact {
  overflow: visible;

  a {
    color: $accent;
  }
  dl, form {
    float: left;
  }
  dl {
    width: col(1);
  }
  form {
    width: col(2);
  }
}
.contact dt,
.page-contact  legend{
  padding: $gutter 0 $half-gutter;
    font-title();
    font-size: 18px;
}
.alert {
  &.is-visible {
    display: block;
  }
  * {
    vertical-align: middle;
  }
}
//----- PROJECTS
@import './project-list'
.projects {
  margin: 0;
  overflow: hidden;

  dt {
    transform: none;
    left: 0;
    right: 0;
    width: auto;
  }

  dl {
    margin: 0;
    float: left;
    width: col(1,2);
    max-width: col(1,2);
  }
}

//----- PROJECT PAGE
.page-project h1 {
  text-align: center;
}
.project-description {
  width: 800px;
  margin: 0 auto;
  padding-bottom: $half-gutter;

  ul, li {
    list-style: disc;
  }
  ul {
    padding-left: 40px;
  }
}
.project-content {
  overflow: hidden;
}
.project-image {
  float: left;
  width: col(1);
}
