$is-ie = false;

@import './_variables'
@import './_mixins'
@import './_z-index'
@import './_debug'
// general
@import './global'
@import './svg-symbols.css'
@import './svg-images.css'
@import './icons'
// modules
@import './header'
@import './footer'
@import './form'
@import './alert'
@import './carrousel'
// page
@import './home'
@import './project-list'
@import './project'
@import './process'
@import './faq'
@import './contact'
