.page-faq {
  h1 {
    background: url('/image/1400x200');
    background-size: cover;
    font-text();
    font-size: 20px;
    padding: $half-gutter;

    +mq('>=M') {
      margin: $gutter 0;
    }
  }
  dl {
    padding: $half-gutter;

    +mq('>=M') {
      margin: 0 20%;
    }
  }
  dt {
    font-weight: bold;
    margin-bottom: 1em;
    font-title();
    color: $accent;
    font-size: 20px;
  }

  dd + dt {
    margin-top: 3em;
  }
}
