form {
  padding-bottom: $half-gutter;

  label {
    display: block;
    padding: $gutter 0 ($half-gutter / 2);
  }
  input,
  textarea {
    width: 100%;
    background: none;
    border: 1px solid rgba(white, .5);
    padding: ($half-gutter / 2);
    outline: 0;

    &:focus {
      border-color: $accent;
    }
  }

  button {
    background: $primary;
    border: 0;
    padding: $half-gutter $gutter;
    margin-top: $half-gutter;
    cursor: pointer;
    outline: 0;

    &:hover {
      background: lighten($primary, 10%);
    }
    &:active {
      background: darken($primary, 40%);
    }
  }

  &.is-disabled {
    label,
    input,
    textarea {
      opacity: .5;
      cursor: not-allowed;
      pointer-events: none;
    }

    button  {
      display: none;
    }
  }
}
