*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // &[lang=th] {
  //   font-size: 20px;
  // }
  background: #302D2C;
  color: white;
  font-size: $fs;
}

body {
  max-width: $large-range + $gutter * 2;
  margin: 0 auto;
}

main {
  display: block;
  padding: 0 $gutter;
}

img {
  max-width: 100%;
}
