*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: $bg;
  color: white;
  font-size: $fs;
  font-text();
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: block;
  flex: 1 0 auto;
  container();
  margin: 0 auto;
  padding-bottom: $gutter;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  font-title();
}

dl,
dt,
dd {
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

input,
select,
textarea,
button {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

textarea {
  resize: vertical;
}

.page-title {
  text-align: center;
  color: $accent;
  text-transform: uppercase;
  // border-bottom: 1px solid currentColor;
  margin: 0;
  padding: 0;

  +mq('>=M') {
    display: none;
  }
}
