.main-header {
  text-align: left;
  max-width: $large-range;
  width: 100%;
  margin: 0 auto;
  padding: 0 $half-gutter;

  +mq('>=M') {
    display: flex;
    padding: 0 $gutter;
  }
  +mq('>=L') {
    padding: 0;
    margin-top: $gutter;
    position: relative;
    z-index: $zindex--header;
    height: 80px;
  }

  input {
    display: none;
  }
  .toggle-menu {
    position: fixed;
    top: $half-gutter;
    right: $gutter;
    background: $accent;
    flex-center-align();
    width: 40px;
    height: @width;
    cursor: pointer;
    z-index: $zindex--hamburger;

    +mq('>=M') {
      display: none;
    }
  }
  input:checked ~ label {
    background: $bg;
  }
  input:not(:checked) ~ label .icon-close,
  input:checked ~ label .icon-menu {
    display: none;
  }
}

nav {
  display: none;
  background: $primary;
  flex: 1 0 auto;

  input:checked ~ & {
    display: flex;
  }

  +mq('==S') {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $zindex--menu-mobile;
    flex-wrap: wrap;
  }

  +mq('>=M') {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  a {
    padding: 1em;
    color: white;
    text-decoration: none;

    +mq('==S') {
      flex: 0 0 50%;
      flex-center-align();
      text-transform: uppercase;

      &.is-selected {
        background: rgba(white, .2);
        pointer-events: none;
        cursor: normal;
      }

      &:nth-child(even) {
        border-left: 1px solid rgba(white, .2);
      }
      &:nth-child(2) ~ a {
        border-top: 1px solid rgba(white, .2);
      }
    }

    +mq('>=M') {
      border-bottom: 4px solid transparent;

      &.is-selected {
        border-bottom-color: $accent;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.logo {
  display: inline-block;
  padding: $half-gutter 0;

  +mq('>=M') {
    padding: 0;
    margin-right: ($gutter * 2);
  }

  svg {
    +mq('==S') {
      display: inline;
      width: 50%;
      height: 40px;
    }
  }
}
