header {
  text-align: center;
  background: $primary;
  max-width: $large-range;
  width: 100%;
  margin: 0 auto;

  +mq('>=M') {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  +mq('>=L') {
    margin-top: $gutter;
    position: relative;
    z-index: $zindex--header;
  }
}

nav {
  display: none;

  +mq('>=M') {
    display: flex;
    justify-content: space-around;
  }

  a {
    padding: 1em;
    color: white;
    text-decoration: none;
    border-bottom: 4px solid transparent;

    &.is-selected {
      border-bottom-color: $accent;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.logo {
  display: inline-block;
  img {
    display: block;
  }
}
