.page-home main {
  max-width: none;
  width: auto;
  margin: 0;
  padding: 0;
}

#carrousel {
  position: relative;
  z-index: $zindex--carrousel;

  +mq('>=M') {
    margin-top: $gutter;
  }

  +mq('>=L') {
    height: auto;
    margin-top: -80px - $gutter;
  }

  h1 {
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    transform: translate(0, -50%);
    margin: 0;
    padding: 0 $gutter;
    font-size: 28px;
    display: none;

    strong {
      display: block;
      color: $accent;
    }
  }

  ul,
  li,
  img {
    height: 100%;
  }
}


.expertise {
  container();
  margin: 0 auto;
  text-align: center;

  h2 {
    color: $accent;
    padding: $gutter $gutter 0;
  }

  p {
    +mq('>=M') {
      margin: 0 0 $gutter;
    }
  }

  svg {
    +mq('==S') {
      display: none;
    }

    +mq('==M') {
      height: 12.5vw;
    }
  }

  dl {

    +mq('>=M') {
      margin: $gutter 0;
      row();
    }

    &:nth-of-type(odd) {
      flex-direction: row-reverse;

    }
  }
  dt,
  dd {
    order: 2;
    +mq('>=M') {
      cell(1, 2);
    }
  }
  dt {
    flex-center-align();
    flex-direction: column;
    padding: $half-gutter 0;
    font-size: 20px;

    +mq('>=L') {
      cell(1, 3);
    }
    background: $primary;
  }
  dd {

    +mq('>=L') {
      cell(2, 3);
    }
  }
  img {
    width: 100%;
    display: block;
  }
}
