.page-home main {
  max-width: none;
  width: auto;
  margin: 0;
  padding: 0;
}

#carrousel {
  position: relative;
  z-index: $zindex--carrousel;
  min-height: 280px;

  +mq('>=M') {
    margin-top: $gutter;
  }

  +mq('>=L') {
    height: auto;
    margin-top: -80px - $gutter;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 150px;
      background: linear-gradient(to bottom, rgba(black, .2), rgba(black, 0));
      pointer-events: none;
    }
  }

  h1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75vw;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0 $gutter;
    font-size: 28px;
    display: none;
    z-index: 2;
    pointer-events: none;

    +mq('>=M') {
      display: block;
    }

    +mq('>=L') {
      margin-top: 50px;
    }

    strong {
      display: block;
      color: $accent;
    }
  }
  .image-wrapper {
    image-ratio(580, 580);

    +mq('>=M') {
      image-ratio(920, 500);
    }
    +mq('>=L') {
      image-ratio(1400, 600);
    }
  }
}


.expertise {
  container();
  margin: 0 auto;
  text-align: center;

  h2 {
    color: $accent;
    padding: $gutter $gutter 0;
  }

  p {
    +mq('>=M') {
      margin: 0 0 $gutter;
    }
  }

  svg {
    +mq('==S') {
      display: none;
    }

    +mq('==M') {
      height: 12.5vw;
    }
  }

  dl {

    +mq('>=M') {
      margin: $gutter 0;
      row();
    }

    &:nth-of-type(odd) {
      flex-direction: row-reverse;
    }
  }
  dt,
  dd {
    order: 2;
    +mq('>=M') {
      cell(1, 2);
    }
  }
  dt {
    flex-center-align();
    flex-direction: column;
    padding: $half-gutter 0;
    font-size: 20px;

    +mq('>=L') {
      cell(1, 3);
    }
    background: $primary;
  }
  dd {

    +mq('>=L') {
      cell(2, 3);
    }
  }
  .image-wrapper {
    image-ratio(675, 370);

    +mq('==M') {
      image-ratio(475, 300);
    }
  }
}
