.svg,
.icon {
  stroke-linecap: round;
}
.icon {
  fill: transparent;
}
.icon-send,
.icon-warning,
.icon-process,
.icon-big-arrow,
.icon-big-arrow,
.icon-close,
.icon-menu {
  stroke: white;
}
.icon-facebook,
.icon-phone,
.icon-mail {
  stroke: #666;
}

.svg-flag-en,
.svg-flag-th {
  +mq('>=M') {
    width: 20px;
    height: 15px;
  }
}
.icon-arrow-small-left,
.icon-arrow-small-right {
  fill: $accent;
  filter: url('/svg-symbols.svg#dropshadow');
  transition: fill .3s;

  &:hover {
    fill: lighten($accent, 20%);
  }
  &:active {
    fill: white;
  }
}
