.svg,
.icon {
  stroke-linecap: round;
}
.icon-close,
.icon-menu {
  stroke: white;
}
.icon-phone,
.icon-mail {
  fill: transparent;
  stroke: #666;

}

.svg-flag-en,
.svg-flag-th {
  +mq('>=M') {
    width: 20px;
    height: 15px;
  }
}
