.lightbox-wrapper {
  background: rgba(black, .8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex--lightbox;
  transform: scale3d(0, 0, 1);
  transition: transform .5s;

  &:not(.is-open) {
    pointer-events: none;
  }

  &.is-open {
    transform: scale3d(1, 1, 1);
    display: block;
  }
}

.lightbox-close,
.lightbox-navigation,
.lightbox-loader {
  transition: opacity .5s .5s;
  opacity: 0;

  .is-open & {
    opacity: 1;
  }
}

.lightbox-close {
  position: absolute;
  top: $gutter;
  right: @top;
  cursor: pointer;
  z-index: 2;
}

.lightbox-navigation {
  position: absolute;
  bottom: $gutter;
  right: @bottom;
  cursor: pointer;
  z-index: 2;

  > * {
    display: inline-block;
  }
}

.lightbox-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lightbox-image {
  position: absolute;
  // top: ($gutter * 2);
  top: $half-gutter;
  left: @top;
  right: @top;
  bottom: @top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0;
  transition: opacity .5s;

  &.is-loaded {
    opacity: 1;
  }
}
