.page-process {
  dl {
    +mq('>=M') {
      row();
      padding-top: $gutter;
      align-items: center;
    }
  }
  dt {
    font-title();
    padding: $gutter $half-gutter;
    text-align: center;
    font-size: 24px;


    +mq('>=M') {
      text-align: left;
      font-size: 24px;
      cell(1);
    }
  }
  dd {
    &:first-of-type {
      padding: 0 $half-gutter $gutter;
      +mq('>=M') {
        cell(2);
      }
    }
    &:last-of-type {
      +mq('>=M') {
        cell(1, 1);
      }
    }
  }

  +mq('>=M') {
    dt,
    dd:first-of-type {
      padding: 0 0 $half-gutter;
    }
  }
}
