.page-process {
  dl {
    +mq('>=M') {
      row();
      padding-top: $gutter;
      align-items: center;
    }
  }
  dt {
    font-title();
    padding: $gutter $half-gutter;
    text-align: center;
    font-size: 24px;


    +mq('>=M') {
      padding: 0;
      text-align: left;
      font-size: 24px;
      cell(1);
    }
  }
  dd {
    &:first-of-type {
      padding: 0 $half-gutter $gutter;
      +mq('>=M') {
        padding: 0;
        cell(2);
      }
    }
    &:last-of-type {
      height: 50vh;
      +mq('>=M') {
        margin-top: $half-gutter;
        cell(3);
      }

      * {
        height: 100%;
      }
    }
  }
}
