.page-project h1 {
  color: $accent;
  text-align: center;
}

.project-image {
  list-style: none;
  padding: 0;
}

.project-image,
.project-content {
  list-style: none;
  padding: 0;
}

.project-content {
  +mq('==M') {
    row();
  }

  +mq('<L') {
    height: auto !important;
  }
}
.grid-sizer,
.grid-item {
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }

  +mq('==M') {
    cell(1, 2);
  }
  +mq('<L') {
    position: static !important;
  }
  +mq('>=L') {
    width: 'calc(%s - %s)' % (col(1) $gutter * 0.666 );
  }
}

.grid-item--width2 {
  +mq('>=L') {
    width: col(2);
  }
}

.project-description {
  +mq('==M') {
    cell(1, 1);
  }
}

.project-description,
.project-image {
  margin-top: $gutter;
}
