.page-project h1 {
  color: $accent;
  text-align: center;
}

.project-image,
.project-content {
  list-style: none;
  padding: 0;
}

.project-image {
  list-style: none;

  .image-wrapper {
    image-ratio(800, 600);
  }
}

.project-content {
  clear-fix();
  padding-bottom: $gutter;

  +mq('>=M') {
    row();
  }

  +mq('>=L') {

    // wait masonry initialization
    &.is-loaded {
      display: block;
      margin-left: 0;
      margin-right: 0;
    }
    &:not(.is-loaded) .project-image {
      cell(1);
    }
    &:not(.is-loaded) .grid-item--width2 {
      cell(2);
    }
  }
}

.grid-sizer,
.grid-item {
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }

  +mq('>=S') {
    float: left;
    width: 50%;
    margin-top: 0;
  }

  +mq('>=M') {
    cell(1, 2);
    max-width: none;
    width: 'calc(%s - %s)' % (col(1) $gutter * 0.666 );
  }
  +mq('>=L') {
    margin-left: 0;
    margin-right: 0;
  }
}

.grid-item--width2 {

  +mq('>=L') {
    width: 'calc(%s - %s)' % (col(2) $gutter * 0.333 );
    .project-content:not(.is-loaded) & {
      cell(1, 1);
    }
  }
}

.project-description {
  padding-bottom: $gutter;

  +mq('>=M') {
    padding-bottom: 0;
  }

  ul {
    padding-left: 1em;
  }
  li {
    list-style-image: url('bullet-list.svg');
  }
}

.project-description,
.project-image {
  +mq('>=M') {
    margin-top: $gutter;
  }
}

//////
// RESET MASONRY ON SMALLER SCREENS
//////

+mq('<L') {
  .project-content {
    height: auto !important;
  }
  .grid-sizer,
  .grid-item {
    position: static !important;
  }
  .grid-sizer {
    display: none;
  }
  .project-description {
    cell(1, 1);
  }
}
