.page-projects h1 {
  text-align: center;
}

.projects {
  margin-top: $gutter;

  +mq('>=S') {
    row();
  }
  a {
    color: white;
    text-decoration: none;
    // text-shadow: 0 0 5px rgba(black, .5);
    text-shadow: 0 0 5px rgba(black, 1), 0 0 5px rgba(black, .5);
  }
  dl {
    position: relative;
    margin: 0 0 $gutter;

    +mq('>=S') {
      cell(1, 2);
    }
  }
  dt {
    text-align: center;
    width: 100%;
    padding: $gutter;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-title();
    font-size: 5vw;
    +mq('>=S') {
      font-size: 20px;
    }
  }
  dd {
    margin: 0;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}
