.icon-big-arrow {
  width: 60px;
  height: 180px;
}

.icon-close {
  width: 20px;
  height: 20px;
}

.icon-facebook {
  width: 34px;
  height: 34px;
}

.icon-mail {
  width: 30px;
  height: 26px;
}

.icon-menu {
  width: 20px;
  height: 20px;
}

.icon-phone {
  width: 26px;
  height: 26px;
}

.icon-process {
  width: 34px;
  height: 34px;
}

.icon-send {
  width: 34px;
  height: 34px;
}

.icon-warning {
  width: 34px;
  height: 34px;
}

