.icon-address {
  width: 20px;
  height: 26px;
}

.icon-arrow-small-left {
  width: 40px;
  height: 40px;
}

.icon-arrow-small-right {
  width: 40px;
  height: 40px;
}

.icon-big-arrow {
  width: 60px;
  height: 180px;
}

.icon-close-square {
  width: 40px;
  height: 40px;
}

.icon-close {
  width: 20px;
  height: 20px;
}

.icon-drop-shadow {
  width: 0px;
  height: 0px;
}

.icon-facebook {
  width: 34px;
  height: 34px;
}

.icon-mail {
  width: 30px;
  height: 26px;
}

.icon-menu {
  width: 20px;
  height: 20px;
}

.icon-phone {
  width: 26px;
  height: 26px;
}

.icon-process {
  width: 34px;
  height: 34px;
}

.icon-send {
  width: 34px;
  height: 34px;
}

.icon-warning {
  width: 34px;
  height: 34px;
}

